.logo
    .material-placeholder
        >img 
            width 45px 
            height 45px
            border-radius 50%
            border 2px solid white
            box-shadow 1px 1px 5px black
            background-color white
            
@media (min-width: 576px)
    .logo
        .material-placeholder
            >img 
                width 95px 
                height 95px