.modal .modal-content {
    padding 0
    z-index 100000
}

.carousel .carousel-item{
    height: auto
}

.modal-content
    .carousel
        width 100%
        >a
            display block 
            height 200px
            width 280px 
            >img
                height 200px
                width 100%

@media (min-width: 576px)

    .modal-content
        .carousel
            width 65%
            margin 0 auto
            margin-bottom 40px
            >a
                >img
                    height 250px
                    width 620px