.blank
    background rgba(black, .3)
    height 20px
    width 100%
.inside-styles
    border-radius .5em
    background rgba(black, .2)
    padding .5em
    position absolute
    top 50%
    left 50%
    width 320px
    transform translate(-50%,-50%)

@media (min-width: 576px)
    .inside-styles
        width 500px