@import '../css/materialize.min.css'
@import '../css/materialize-icon.css'
@import '../css/icon-moon.css'
@import 'utils.styl'
@import '../js/redux/utils/components/banner.styl'
@import '../js/redux/utils/components/chat.styl'
@import '../js/redux/utils/components/web-construction.styl'
@import '../js/redux/utils/components/embed-fans-page.styl'									
@import '../js/redux/utils/components/logo.styl'
@import '../js/redux/utils/components/slider.styl'
@import '../js/redux/utils/components/modal-header.styl'
@import '../js/redux/utils/components/modal-body.styl'
@import '../js/redux/utils/components/modal-carousel.styl'
@import '../js/redux/utils/components/web-section-menu.styl'
@import '../js/redux/utils/components/parallax.styl'
@import '../js/redux/utils/components/web-aside-menu'
@import '../js/redux/utils/components/web-section-selection'
@import '../js/redux/utils/components/web-section-selection-item.styl'
@import '../js/redux/utils/components/web-section-selection-item-modal.styl'

@import '../js/redux/web-portal/components/web-footer.styl'
@import '../js/redux/web-portal/components/web-head.styl'
@import '../js/redux/web-portal/components/web-nav.styl'
@import '../js/redux/web-portal/components/web-section-course.styl'


a
article
aside
body
div
figcaption
figure
h1
h2
h3
h4
header
input
li
p
section
select
option
span
table
tbody
textarea
th
thead
tr
ul
ol
video
img{
    box-sizing border-box
    margin 0
    padding 0
}
a
	text-decoration none
	color white
li
	list-style none

body
	background #eff2e7
	font-family 'Sans-Serif' 'Comic Sans MS'
	font-size 16px

.intro 
	height 100vh 


