.background-red
    background red
.background-black-t 
    background rgba(black, .3)
.border-bottom-white-1
    border-bottom 1px solid white
.border-bottom-black-1
    border-bottom 1px solid black
.border-bottom-red-2
	border-bottom 2px solid red
.border-top-white-2
    border-top 2px solid white
.box-shadow-white
    box-shadow 1px 1px 6px white
.box-shadow-black
    box-shadow 1px 1px 6px black
.text-shadow-black
    text-shadow .5px .5px 6px black
.font-weight-bold
    font-weight bolder
.margin-up-down-2
    margin 2em 0
.padding
    padding .5em
.padding-up-2{
    padding 2em 0 0 0}
.padding-up-down-1
    padding 1em 0
.padding-up-down-2
    padding 2em 0
.padding-left-right-2
    padding 0 2em
.padding-left-right-3
    padding 0 3em
.position-absolute 
    position absolute 
.sub-border
    width 200px
    height 5px
    border-radius  0 .5em 0 0
.top-0 
    top 0
.uppercase
    text-transform uppercase