/* Materialize default pushpin CSS below */

/*  Class for when element is above threshold */
.pin-top {
    position: relative;
}

/* Class for when element is below threshold */
.pin-bottom {
    position: relative;
}

/*   Class for when element is pinned */
.pinned {
    position: fixed !important;
}
#wrapper_navbar
    height 64px
#navbar
    transition .3s
    z-index 1000
#brand_logo
    font-size 1.2em
    
@media (min-width: 576px)
    #brand_logo
      font-size 2.0em