.footer-logo
    padding .7em 0 0 0
    .material-placeholder
        >img 
            border-radius .5em 0 .5em 0
            border 1px solid white
            background-image: radial-gradient(ellipse farthest-corner at 45px 45px , white 15%, #7cb342 95%);
            margin 0 auto
            width 250px
            